/*
-----------------------------------------------------
Template: Developer
Style: Wireframe-SCSSified
Copyright: Squarespace Inc. All rights reserved.
Usage: NOT FOR USE OUTSIDE THE SQUARESPACE PLATFORM
Comment: Umm... WTF? It's an EMPTY CSS FILE...
Copyright #FAIL!
-----------------------------------------------------
*/
/* Blueprint Variable Overrides */
/**/
/* Import blueprint CSS */
/* line 4, ../../../../.rvm/gems/ruby-1.9.3-p125@compass/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p125@compass/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p125@compass/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.3-p125@compass/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p125@compass/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p125@compass/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.3-p125@compass/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p125@compass/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/***************************************/
/****** RESUME SQUARESPACE STYLES ******/
/***************************************/
/* Layout */
/* line 33, ../sass/styles.scss */
#canvasWrapper {
  margin: 0 auto;
  float: none;
}

/* line 40, ../sass/styles.scss */
#pageHeaderWrapper {
  margin-top: 90px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

/* line 48, ../sass/styles.scss */
#bannerWrapper {
  text-align: center;
}
/* line 51, ../sass/styles.scss */
#bannerWrapper a img {
  width: 406px;
  display: block;
  float: none;
  margin: 0 auto;
}

/* line 65, ../sass/styles.scss */
#contentWrapper {
  float: none;
}

/* line 71, ../sass/styles.scss */
#pageFooterWrapper {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #000;
  margin-bottom: 90px;
}

/* line 77, ../sass/styles.scss */
#pageFooter {
  width: 247px;
  margin: 0 auto;
}

/* Navigation */
/* line 87, ../sass/styles.scss */
#navigationTop {
  display: none;
}

/* line 99, ../sass/styles.scss */
#navigationBottom {
  display: none;
}

/* line 115, ../sass/styles.scss */
#sidebar1Wrapper {
  float: left;
}

/* line 120, ../sass/styles.scss */
#sidebar2Wrapper {
  float: right;
}

/* line 131, ../sass/styles.scss */
.verticalNavigationBar .section .folder .module {
  border-bottom: none;
}

/* Amazon Lists */
/* Link Lists */
/* Comments */
/*  Forms */
/* Journals */
/* line 224, ../sass/styles.scss */
.journal-entry-tag-pre-title .inline-icon {
  display: none;
}

/* line 227, ../sass/styles.scss */
.journal-entry-tag-post-title .inline-icon {
  display: none;
}

/* Search */
/* Thumbnails */
/* Additional Customizations */
/***************************************/
/* Add Your Custom CSS Below This Line */
/***************************************/
/*********************/
/* Homepage Specific */
/*********************/
/* line 289, ../sass/styles.scss */
body#modulePage16204325 #sidebar1Wrapper, body#modulePage16204325 #sidebar2Wrapper {
  display: none;
}
/* line 290, ../sass/styles.scss */
body#modulePage16204325 #pageHeaderWrapper {
  margin-bottom: 10px;
}
/* line 291, ../sass/styles.scss */
body#modulePage16204325 #pageFooterWrapper {
  margin-top: 10px;
}
/* line 292, ../sass/styles.scss */
body#modulePage16204325 p, body#modulePage16204325 span {
  margin: 0;
  padding: 0;
}
/* line 293, ../sass/styles.scss */
body#modulePage16204325 ul#homepage-navigation {
  height: 58px;
  margin: 10px 0 0 0;
  border-top: 2px solid #000;
  padding: 10px 36px 0 36px;
}
/* line 298, ../sass/styles.scss */
body#modulePage16204325 ul#homepage-navigation li {
  list-style: none;
  float: left;
  line-height: 58px;
  width: 72px;
  text-align: center;
  padding: 0 36px;
  border-right: 1px solid #000;
}
/* line 306, ../sass/styles.scss */
body#modulePage16204325 ul#homepage-navigation li img {
  vertical-align: bottom;
}
/* line 307, ../sass/styles.scss */
body#modulePage16204325 ul#homepage-navigation li img.descender {
  margin-bottom: -6px;
}
/* line 309, ../sass/styles.scss */
body#modulePage16204325 ul#homepage-navigation li.last {
  border: 0px;
}
